    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="container">
                        <h2 class="section-heading">Andy Archer</h2>
                        <div class="col-md-5">
                            <img src="img/andy.jpg" class="andys-face" alt="picture of Andy" \>
                        </div>
                        <div class="col-md-5 text-justify">
                            My healing work is rooted in a philosophy of fierce compassion, collective responsibility and intrinsic respect for the experience of others. I practice body-based therapy in New Haven, CT. My intention with this work is to help my clients tap into their own innate wisdom. I pursued my graduate education at Yale Divinity School, and I draw upon the wisdom of a variety of spiritual traditions to co-create meaningful ritual with my clients. I come from a background in the arts, and enjoy working with creators and those seeking to deepen their creativity. I am passionate about community orgaizing, and enjoy working with the LGBTQAI communities. I have trained extensively in somatic techniques including Core Energetics, a therapeutic modality which acknowledges how everything we experience is felt holistically, and integrates body, mind, and spirit into a dynamic healing process.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>