
    <!-- Services Section -->
    <section id="therapy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Therapy</h2>
                    <div class="container">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="section-subheading text-muted text-justify">
                                The body can be a powerfully ally in our quest for self-knowledge. Body-based therapies are centered in the idea that we hold experiences and emotions in our bodies on both physical and mental levels. When we embody our experiences, we are connected with the fullness of our pleasures and pains, and have at our hands a powerful instrument for healing. Living in deep connection with our bodies roots us in our personal histories, and allows us to tell our stories in a way only we can. 

                                <br>
                                <br>

                                This work empowers people to transform themselves by giving them permission to step into leadership and honor their unique gifts. I believe that claiming our power begins with finding our voice, and that by examining our experiences of injustice on a bodily level we can uproot the conditions for our own oppression. A variety of therapeutic modalities find their way into my work including <a href="https://www.coreenergetics.org/">Core Energetics</a>, <a href="https://traumaprevention.com/">TRE: Tension and Trauma Release</a>, mindfulness-based stress reduction, dialectical behavioral therapy and transpersonal psychology. 
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <h4 class="service-heading">Areas of Interest</h4>
                <br>
                <div class="col-md-6">
                    <p class="text-muted">      
                        Gender and sexuality <br>
                        Identity and belonging <br>
                        Healing from addiction <br>
                        Spirituality <br>
                        Creativity  <br>
                        Personal calling and life’s purpose <br>
                        Self-love and confidence <br>
                        Boundaries <br>
                        Lifecycle transitions <br>
                        Group process
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-muted">
                        Grief and loss <br>
                        Anxiety <br>
                        Depression <br>
                        Family dynamics and developmental trauma <br>
                        Self-care and building resilience <br>
                        Relationship to the body <br>
                        Relationships and Intimacy <br>
                        LGBTQAI issues <br>
                        Non-monogamy and kink <br>
                        Conflict transformation and community healing <br>

                    </p>
                </div>
            </div>
        </div>
    </section>

<!-- About Section -->
    <section id="consultation">

        <div class="container text-center">
        <h2 class="section-heading">Consultation and Fee</h2>

            <div class="col-md-1"></div>
            <div class="col-md-10 more-info text-muted">
                To learn more about my work or to schedule a session call me for a complimentary phone consultation.
                <br>
                <br>

                516.417.4339 <br>
                andy.archer@yale.edu<br>
                <br>
                <br>
                I am currently offering individual sessions in New Haven, CT as a Core Energetics practitioner-in-training. 
                <br>
                <br>

            </div>

        </div>

        <div class="container slidingscalee">
            <div class="row">
                <div class="col-lg-12 text-center">
                <div class="container">


                    <div class="section-subheading text-muted text-justify">While I do not accept insurance, I offer my services on a sliding scale basis. 
                    <br>
                    A sliding scale is a tool I use to make this work accessible to people from a variety of experiences. Sliding scales are based on individual income levels, with people of higher incomes paying more. I ask that you are honest about your ability to pay, and that you don’t stress too much about the fee.
                    <br>
                    Fees range between $50 - $80 per 50 min session. I have a limited number of slots available at a lower rate. I accept cash, Venmo, PayPal and personal checks.</div>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <h4 class="sliding-heading text-muted">Consider paying more on the scale if you</h4>
                    <p class="sliding text-muted">      

                    travel recreationally <br>
                    have access to family money and resources in times of need <br>
                    work part time or intermittently by choice <br>
                    own the home you live in <br>
                    have investments, retirement accounts, or inherited money <br>
                    have a relatively high degree of earning power due to your level of education or class background  <br>

                    </p>
                </div>
                <div class="col-md-6">
                    <h4 class="sliding-heading text-muted">Consider paying less if you</h4>
                    <p class="sliding text-muted">
                    are supporting children or other dependents <br>
                    have been denied work due to discrimination  <br>
                    have immigration-related expenses <br>
                    are an elder with limited financial support <br>
                    make under $30,000 a year (not by choice) <br>
                    cannot find affordable, affirming care due to your identity <br>
                    </p>
                </div>
            </div>
        </div>
    </section>
