
    <!-- Services Section -->
    <section id="therapy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Body-Based Therapy</h2>
                    <div class="container">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="section-subheading text-muted text-justify">
                                The body can be a powerful ally in our quest for self-knowledge. Body-based therapies are grounded in the idea that we hold experiences and emotions in our bodies on both physical and mental levels. When we embody our experiences, we are connected with the fullness of our pleasures and pains, and have at our hands a powerful instrument for healing. Living in deep connection with our bodies roots us in our personal histories, and allows us to tell our stories in a way only we can. 

                                <br>
                                <br>

                                This work empowers people to transform themselves by giving them permission to step into leadership and honor their unique gifts. I believe that claiming our power begins with finding our voice, and that by examining our experiences of injustice and trauma on a internal level we can begin to uproot the conditions for our oppression. My work integrates a variety of therapeutic modalities including <a href="https://www.coreenergetics.org/">Core Energetics</a>, <a href="https://traumaprevention.com/">TRE: Tension and Trauma Release</a>, mindfulness-based stress reduction, dialectical behavioral therapy, psychoanalysis and transpersonal psychology. 
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <h4 class="service-heading">Areas of Interest</h4>
                <br>
                <div class="col-md-6">
                    <p class="text-muted">      
                        Gender and sexuality <br>
                        Identity and belonging <br>
                        Healing from addiction <br>
                        Spirituality <br>
                        Creativity  <br>
                        Personal calling and life’s purpose <br>
                        Self-love and confidence <br>
                        Boundaries <br>
                        Lifecycle transitions <br>
                        Group process
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-muted">
                        Grief and loss <br>
                        Anxiety <br>
                        Depression <br>
                        Family dynamics and developmental trauma <br>
                        Self-care and building resilience <br>
                        Relationship to the body <br>
                        Relationships and Intimacy <br>
                        LGBTQAI issues <br>
                        Non-monogamy and kink <br>
                        Conflict transformation and community healing <br>

                    </p>
                </div>
            </div>
        </div>
    </section>

<!-- About Section -->
    <section id="consultation">

        <div class="container text-center">
        <h2 class="section-heading">Working Together</h2>

            <div class="col-md-1"></div>
            <div class="col-md-10 more-info text-muted">
                <p class="spaced-paragraph">
                    I am currently offering individual sessions in New Haven, CT as a Core Energetics practitioner-in-training.
                </p>
                <p class="big-font">
                    To learn more about my work or to schedule a session contact me for a complimentary phone consultation.
                        </p>
                <p class="contact-info">
                516.417.4339 <br>
                andy.archer@yale.edu
                </p>

            </div>
        </div>
        <div class="container slidingscalee">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="container">

                        <div class="col-md-2"></div>
                        <div class="section-subheading text-muted text-justify col-md-8">
                            <p>
                                <br>
                                    While I do not accept insurance, I offer my services on a sliding scale. A sliding scale is a tool I use to make this work accessible to people from a variety of experiences. I have a limited number of slots available at a reduced rate. Find out more about my sliding scale policy <a href=sliding>here</a>. I accept cash, Venmo, PayPal and personal checks.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
